<nav
  class="site-nav"
  [class.is-scrolled]="isScrolled || isMenuOpen"
>
  <p-toolbar styleClass="landing-toolbar">
    <ng-template pTemplate="start">
      <a routerLink="/" class="nav-logo-wrap" (click)="closeMenu()">
        <img src="ShaadiMe_Logo.png" alt="ShaadiMe" class="nav-logo" />
      </a>
    </ng-template>

    <ng-template pTemplate="center">
      <div class="nav-links">
        <a *ngFor="let item of navItems" [href]="item.href">{{ item.label }}</a>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="nav-right">
        <p-button
          label="Start Planning"
          styleClass="landing-btn-primary nav-cta"
          (onClick)="openPlanner()"
        ></p-button>
        <button
          type="button"
          (click)="toggleMenu()"
          class="hamburger"
          aria-label="Toggle menu"
          [attr.aria-expanded]="isMenuOpen"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </ng-template>
  </p-toolbar>

  <div *ngIf="isMenuOpen" class="mobile-menu">
    <a *ngFor="let item of navItems" [href]="item.href" (click)="closeMenu()">{{ item.label }}</a>
    <p-button
      label="Start Planning"
      styleClass="landing-btn-primary landing-btn-mobile"
      (onClick)="openPlanner()"
    ></p-button>
  </div>
</nav>
